.js {
  padding: 20px 0;
}
.js .show {
  display: block;
}
.content {
  display: none;
}
.main {
  border-bottom: 1px solid #aaa;
  padding: 5px 10px;
}
h3 {
  cursor: pointer;
}
h1 {
  background-color: var(--color2);
  text-align: center;
  box-shadow: 1px -3px 5px #000;
}
ol {
  padding: 0 20px;
  list-style-position: inside;
}
ul {
  list-style-type: disclosure-closed;
  padding: 0 10px;
}
