@media screen and (max-width: 768px) {
  /* header */
  .header_content button {
    display: inline-block;
  }
  .header_content .nav {
    position: absolute;
    top: 80px;
    right: 20px;
    display: none;
    flex-direction: column;
    background-color: var(--color3);
    box-shadow: 0 3px 5px var(--color1);
    border-radius: 6px;
  }
  .header_content .nav a{
      margin: 10px 20px;
  }
}
